<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scheduler.Properties.Settings.SchedulerTestConnectionString"
            connectionString="Data Source=|DataDirectory|\SchedulerTest.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="Scheduler.Properties.Settings.SchedulerTestConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SchedulerTest.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>